.material-icons-outlined.header{
    font-size: 35px;
    text-align: center;
}
body {
    /* これが無いとヘッダーの端に空白ができてしまう */
    margin: 0px;
    padding: 0px;
}
main{
    display: block;
    /* ヘッダーの幅だけ上にマージンを取る */
    /* margin-top: 70px; */
    margin-bottom: 70px;
    z-index: 0;
}
.site-header{
    /* TODO:松本君が用意してくれた画像に置き換える */
    background:rgb(16, 50, 241);
    padding: 0px 0px;
    position: fixed;
    /*top: 0;*/
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
.menu{
    display: flex;
    list-style: none;
    padding-top: 5px;
    padding-left: 0;
    margin: 0;
}
.menu_item{
    padding-right: 20px;
}
.menu_item a{
    display: block;
    padding: auto;
    /* アイコンの色，何か色を設定しないとクリックした後に色が変わってしまう */
    color:rgb(255, 255, 255);
    font-size: 5px;
    text-align: center;
    text-decoration: none;
}
.menu_item a:hover{
    opacity: 0.5;
}
.logout{
    display: flex;
    align-items: center;
    list-style: none;
    padding-top: 5px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}
.logout_item{
    padding-left: 20px;
    color: rgb(255, 255, 255);
}
.logout_item a{
    display: block;
    padding: auto;
    /* アイコンの色，何か色を設定しないとクリックした後に色が変わってしまう */
    color:rgb(255, 255, 255);
    font-size: 5px;
    text-align: center;
    text-decoration: none;
}
.logout_item a:hover{
    opacity: 0.5;
}