#graph{
    background-color:white;
    display: block;
    width: 70%;
    height:90%;
    margin-left: auto;
    margin-right: auto;
 }
 #transition{
    display: flex;
    justify-content:center;
 }
 #before{
    padding:10px;
    color:red;
 }
 #next{
    padding:10px;
    color:red;
 }