body {
	/* background: url(images/bg_main.png) top center repeat-y #eeeeee; */
	background-color: rgb(147, 213, 233);
    color: #333;
}

#whole {
	margin: 0 auto;
}

#head {
	/* background: url(images/bg_head.png) bottom left repeat-x #106eb7; */
    background-color: rgb(16, 50, 241);
	color: #fff;
	padding: 20px;
	margin-bottom: 20px;
}

h1 {
	/* background: url(images/bg_ttl.png) top left no-repeat; */
	padding-left: 25px;
	font-size: 197%;
	font-weight: bold;
}

#content {
	/* background: url(images/bg_content.png) left bottom no-repeat #ecf7fc; */
    background-color: #fff;
	padding: 20px;
	width: 720px;
	min-height: 490px;
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 153.9%;
}

#container {
    text-align: center;
}

.btn {
    background-color: rgb(206, 232, 246);
    color: black;
    border: 2px solid black;
    padding: 10px 40px;
    margin: 10px 0;
    font-weight: 600;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:hover {
    background-color: rgb(20, 3, 247);
    color: white;
}

.box1 {
    text-align: center;
}

.right {
    text-align: right;
}

.box2 {
    display: block;
}
